.BigNumbers {
  margin-right: 14px;
  color: #fff;
  overflow-y: auto;

  padding-right: 5px;
}
.big-numbers table {
  float: left;
  width: 100%;
}
.big-numbers table td {
  padding-right: 15px;
}
.big-numbers__heading,
.big-numbers__date {
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.big-numbers__title {
  text-align: left;
}
.card-body {
  overflow-y: auto;
}
.big-numbers__data,
.big-numbers__data-table {
  text-align: left;
  font-size: 14px;
}
.big-numbers__data-types {
  text-align: left;
  font-size: 10px;
}
li.big-numbers__data:first-child {
  margin-right: 10px;
}
.big-numbers__data-table td {
  text-align: left;
}
.big-numbers__title {
  font-size: 18px;
}
.big-numbers__btn {
  border: 1px solid white !important;
  color: #fff;
  width: 100%;
  margin-bottom: 7px;
  border: none;
  border-radius: 10px !important;
}

.big-numbers__btn-active {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.BigNumbers .nav-tabs {
  max-height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.BigNumbers .nav-item {
  flex: 1;
  text-align: center;
}

.BigNumbers a.nav-link {
  border-radius: 0;
  font-weight: 800 !important;
  font-weight: 400;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.BigNumbers .nav-tabs .nav-item.show .nav-link,
.BigNumbers .nav-tabs .nav-link.active {
  background-color: #004aad;
  color: #ffffff;
  font-weight: 700;
}

.BigNumbers .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BigNumbers .nav-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BigNumbers div.card {
  background: none;
}
.BigNumbers .card-body {
  background-color: #041541ff;
}
