.Regions{
    overflow: auto;

}

.Regions__table .p-datatable-tbody > tr {
    background-color: #A6A6A6 !important;
}

.Regions__table .p-datatable-thead > tr {
    background-color: #A6A6A6 !important;
}

