span.title {
  font-weight: 1000;
  line-height: 2rem;
  font-family: "Montserrat";
  color: #ff3131;
}
.ScrollingText {
  font-size: 19px;
}
.scrollingText {
  display: block;
  height: 100%;
  color: #ffffff;
}
.ScrollingText div.card {
  height: 70px;
}
.ScrollingText marquee {
  margin: auto;
}
