span.title {
    font-weight: 1000; 
    line-height: 2rem;
    font-family: 'Montserrat';
    color: #ff3131;
}
.ScrollingText{
    font-size: 19px;
}
.scrollingText {
    display: block;
    height: 100%;
    color: #FFFFFF;
    
}
.ScrollingText div.card{
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.ScrollingText marquee{
    height: 100%;
}