
.chat-content {
    overflow-y: auto;
    height: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.chat-message {
    background-color: #007ad9;
    border-radius: 18px;
    padding: 10px 20px;
    margin: 0px 0;
    max-width: 70%;
    color: white;
    align-self: flex-end;
    word-wrap: break-word;
    position: relative;
    font-size: 0.9em;
}

.chat-message p {
    margin: 0;
    line-height: 10px;
    word-break: break-all;
}

.chat-message.left {
    background-color: #f4f4f4;
    color: #333;
    align-self: flex-start;
}

.chat-input-area {
    display: flex;
    padding: 0em;
    border-top: 1px solid #ddd;
    align-items: center;
    background-color: #fafafa;
}

.chat-input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 3px;
}

.chat-button {
    background: #007ad9;
    color: white;
    font-size: 0.9em;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* Overriding PrimeReact styles */
.p-button {
    background-color: #007ad9;
    color: white;
}

.p-button:enabled:hover {
    background-color: #005999;
}

.p-inputtextarea {
    border: 0px solid #ddd;
    background-color: white;
    color: #333;
}
