.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1.4fr 3.3fr 1.3fr 2fr;
  grid-template-rows: 1.4fr 1fr 1.6fr 11.37fr 9.84fr;
  grid-template-areas:
    "Title Title Title Title"
    "CategoriesMenu CategoriesMenu CategoriesMenu CategoriesMenu"
    "BigNumbers ScrollingText ScrollingText ScrollingText"
    "BigNumbers Map Map ChatBot"
    "BigNumbers Regions Graph Graph";
  gap: 16px;
  font-family: "Montserrat", sans-serif !important;
  padding: 5px 24px;
  background: url("./src/assets/images/bg1.png") center center no-repeat;
  background-size: cover;
}
th,
td,
button {
  font-family: "Montserrat", sans-serif !important;
}
label {
  color: white;
}
:root {
  --component-background: #041541;
}
.App > div {
  border-radius: 10px !important;
  overflow: hidden;
}
.Title {
  grid-area: Title;
}
.CategoriesMenu {
  grid-area: CategoriesMenu;
}
.BigNumbers {
  grid-area: BigNumbers;
}
.ScrollingText {
  grid-area: ScrollingText;
}
.Regions {
  grid-area: Regions;
}
.Map {
  grid-area: Map;
}
.ChatBot {
  grid-area: ChatBot;
}
.Graph {
  grid-area: Graph;
}

.Title {
  grid-area: Title;
  height: 100%;
}
.center {
  align-items: center;
}
div.card {
  background-color: var(--component-background);
  height: 100%;
  border-radius: 0;
  border: none;
}
* {
  box-sizing: border-box;
}
button.btn {
  border-radius: 0;
}
.hidden {
  visibility: hidden;
}
/*       ScrollBar 2        */

::-webkit-scrollbar {
  width: 10px;
  margin-right: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #363636;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e7e7e7;
}
