a{
  color: white !important;
}
.center {
  align-items: center;
}
div.card {
  background-color: var(--component-background);
  height: 100%;
  border-radius: 0;
  border: none;
}
* {
  box-sizing: border-box;
}
button.btn {
  border-radius: 0;
}
.hidden {
  visibility: hidden;
}
/*       ScrollBar 2        */

::-webkit-scrollbar {
  width: 10px;
  margin-right: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #363636;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e7e7e7;
}
