.App {
  width: 100vw;
  height: 100vh;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 2.24fr 1.11fr 1.35fr; 
  grid-template-rows: 1.73fr 1fr 2.25fr 11.8fr 3.96fr; 
  gap: 10px; 
  grid-template-areas:  
    "Title Title Title Title"
    "CategoriesMenu CategoriesMenu CategoriesMenu CategoriesMenu"
    "BigNumbers ScrollingText ScrollingText ScrollingText"
    "BigNumbers Map Map Regions"
    "BigNumbers Graph ChatBot ChatBot"; 
}

.Title { grid-area: Title; }
.CategoriesMenu { grid-area: CategoriesMenu ; }
.BigNumbers { grid-area: BigNumbers; }
.ScrollingText { grid-area: ScrollingText; }
.Regions { grid-area: Regions; }
.Map { grid-area: Map; }
.ChatBot { grid-area: ChatBot; }
.Graph { grid-area: Graph; }

ul { list-style-type: none; padding: 0; }


.Title { 
  grid-area: Title; 
  height: 100%;
}

.custom-ticker {
  font-family: Arial, sans-serif;
  color: blue;
}

.card {
  background: var(--surface-card);
  border: 0px solid var(--surface-border);
  margin-bottom: 0rem;
  box-shadow: var(--card-shadow);
  border-radius: $borderRadius;
  text-align: center;
  &:last-child {
      margin-bottom: 0;
  }
}

.center {
  align-items: center;

}