.CategoriesMenu div {
  height: 100%;
}
.categories-menu .nav-tabs {
  max-height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.categories-menu .nav-item {
  flex: 1;
  text-align: center;
}

.categories-menu .nav-link {
  font-weight: 400;
  color: #ffffff;
  border: 0;
}

.categories-menu .nav-tabs .nav-item.show .nav-link,
.categories-menu .nav-tabs .nav-link.active {
  background-color: #004aad;
  color: #ffffff;
  font-weight: 700;
}

.categories-menu .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-menu .nav-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-menu .categories-menu__category {
  border-radius: 0 0 20px 20px;
}
.categories-menu a {
  margin: 0;
}
.categories-menu .nav-tabs {
  border: none;
}
